table {
    border: solid 2px;
    margin: 20px 20px 20px 20px;
}

td, th {
    border: solid 1px black;
    text-align: center;
    color: maroon;
    padding: 5pt 15pt 5pt 15pt;    
}

tr:nth-child(even){
    background-color: lightgray;
}

