.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black
}

.direction {
    font-family: sans-serif;
    font-size: 14px;
    color:black;
    background-color: lightskyblue
}
.direction:hover {
    background-color: lightpink;
    color: navy;
}

.WATCH {
    color: deeppink;
}
.WATCH:hover{
    text-shadow: 2px 3px 5px green;
    border: solid 1px green;
    color: brown;
}
.CR {
    color: darkslateblue;
}
.CR:hover{
    text-shadow: 2px 3px 5px green;
    border: solid 1px green;
    color: brown;
}
.CB {
    color:darkorange;
}
.CB:hover{
    text-shadow: 2px 3px 5px green;
    border: solid 1px green;
    color: brown;
}
.CH {
    color: darkcyan;
}
.CH:hover{
    text-shadow: 2px 3px 5px green;
    border: solid 1px green;
    color: brown;
}